In [1]:
import sqlalchemy

In [49]:
engine = sqlalchemy.create_engine('postgresql://postgres:Vishny160608@localhost:5432/d_b_riva_4')
connection = engine.connect()

In [50]:
connection.execute("""
SELECT genre_name from genre
""").fetchall()

[('Pop',), ('Rock',), ('Kantri',), ('jazz',), ('hip hop',)]

In [51]:
#1
connection.execute("""
SELECT genre_name, COUNT (singer_id) from genre
JOIN SingerGenre ON genre.id = SingerGenre.genre_id
GROUP BY genre_name
""").fetchall()

[('Kantri', 1), ('Pop', 1), ('jazz', 2), ('Rock', 2), ('hip hop', 1)]

In [57]:
#2
connection.execute("""
SELECT COUNT (track.id) from track
JOIN album ON track.album_id = album.id
WHERE album.year_launch BETWEEN 2019 AND 2020
""").fetchall()

[(7,)]

In [73]:
#3
connection.execute("""
SELECT album_name, AVG(track_length) from track
JOIN album ON track.album_id = album.id
GROUP BY album_name
""").fetchall()

[('Фая', Decimal('190.0000000000000000')),
 ('Broken machine', Decimal('253.0000000000000000')),
 ('Purrr!', Decimal('212.5000000000000000')),
 ('Девочка с каре', Decimal('143.5000000000000000')),
 ('additional album', Decimal('156.0000000000000000')),
 ('Venture - EP', Decimal('276.0000000000000000')),
 ('The best of ... so far', Decimal('212.5000000000000000')),
 ('Синоптик', Decimal('193.0000000000000000')),
 ('WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?', Decimal('168.5000000000000000'))]

In [100]:
#4
connection.execute("""
SELECT nickname from executor
JOIN SingerAlbum ON executor.id = SingerAlbum.singer_id
JOIN album ON SingerAlbum.album_id = album.id
WHERE nickname NOT IN (SELECT nickname FROM executor
    JOIN SingerAlbum ON executor.id = SingerAlbum.singer_id
    JOIN album ON SingerAlbum.album_id = album.id
    WHERE year_launch = 2020)
""").fetchall()

[('The Kooks',),
 ('Nothing but thieves',),
 ('ДЕТИ RAVE',),
 ('Nizkiz',),
 ('Мукка',),
 ('Doja Cat',),
 ('Televisor',)]

In [84]:
#5
connection.execute("""
SELECT coll_name from Collection
JOIN TrackColl ON collection.id = trackcoll.coll_id
JOIN track ON trackcoll.track_id = track.id
JOIN album ON track.album_id = album.id
JOIN singeralbum ON album.id = singeralbum.album_id
JOIN executor ON singeralbum.singer_id = executor.id
WHERE nickname LIKE '%%Billie%%'
""").fetchall()

[('first',), ('second',)]

In [90]:
#6
connection.execute("""
SELECT album_name from album
JOIN singeralbum ON album.id = singeralbum.album_id
JOIN executor ON singeralbum.singer_id = executor.id
JOIN SingerGenre ON executor.id = singergenre.singer_id
JOIN genre ON singergenre.genre_id = genre.id
GROUP BY album_name
HAVING COUNT(DISTINCT genre_name) > 1
""").fetchall()

[('additional album',),
 ('Broken machine',),
 ('WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?',)]

In [120]:
#7
connection.execute("""
SELECT track_name FROM track
WHERE track.id NOT IN (SELECT track_id FROM TrackColl)
""").fetchall()

[('Никому',),
 ('Абсолют',),
 ('ДЕВОЧКА С КАРЕ',),
 ('ОТ ЛУНЫ И ДО НЕБА',),
 ('So high',),
 ('Beautiful',),
 ('Deluxe',),
 ('additional track',)]

In [123]:
#8
connection.execute("""
SELECT nickname FROM Executor 
JOIN SingerAlbum ON executor.id = SingerAlbum.singer_id
JOIN Album ON SingerAlbum.album_id = album.id
JOIN Track ON album.id = track.album_id
WHERE track_length = (SELECT MIN(track_length) FROM Track)
""").fetchall()

[('Мукка',)]

In [146]:
#9
connection.execute("""
SELECT album_name, COUNT(track.id) FROM album
JOIN track ON track.album_id = album.id
GROUP BY album_name
HAVING COUNT(track.id) = (
        SELECT COUNT(id) FROM track
        GROUP BY album_id
        ORDER BY COUNT
        LIMIT 1)
""").fetchall()

[('additional album', 1), ('Venture - EP', 1)]